#preview {
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  margin: 0;
  padding: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
}
.right {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
@media (max-width: 1000px) {
  .right {
    border: none;
  }
}
