#editor {
  flex: 1;
  background-color: var(--background-color);
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: var(--text-color);
  padding: 16px;
}

code,
pre {
  background-color: hsl(200, 19%, 25%);
}

pre {
  padding: 8px;
}

blockquote {
  color: rgba(255, 255, 255, 0.75);
  border-left: 3px solid rgba(255, 255, 255, 0.75);
  padding-left: 4px;
}
a {
  color: var(--accent-color);
}
table,
th,
td {
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-collapse: collapse;
  padding: 8px;
}
h1,
h2,
h3,
h4 {
  color: var(--header-color);
}
