.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}
.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}
.header {
  background-color: var(--foreground-color);
  color: var(--header-color);
  box-sizing: border-box;
  padding: 16px;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .App {
    grid-template-columns: 1fr;
  }
  .section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    height: 80vh;
  }
}
