body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  --foreground-color: #21272b;
  --background-color: #263238;
  --header-color: rgba(255, 255, 255, 0.96);
  --text-color: rgba(255, 255, 255, 0.87);
  --accent-color: #26c9b3;
  background-color: var(--background-color);
}
